<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <LibreHardwareMonitor.Properties.Settings>
            <setting name="runWebServerMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="webServerPortNumeric" serializeAs="String">
                <value>8085</value>
            </setting>
            <setting name="hiddenMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minTrayMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cpuMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gpuMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainboardMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
        </LibreHardwareMonitor.Properties.Settings>
    </userSettings>
</configuration>
